# --- служебное и артефакты сборки ---
_build/backup/
_build/log/
_build/stage/
*.pbo
*.bisign
*.bak
*.RPT

# --- справочная распаковка в корне (не наш код); исходник мода лежит в addons/ ---
/scripts/

# --- локальные бэкапы/черновики ---
*№№№*
*!!!!*
_build/working_*
_build/wip_economy_*
ArmorStats/
Profiles/Trader/Trader*.txt
Profiles/Trader/TraderAdmins.txt
